<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.panapix"
        version     = "1.0"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
        <preference name="phonegap-version" value="3.5.0" />

        <name>Panapix</name>
        <description>A Panaramic Image Capturing</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>
        <gap:platform name="android" />
        <preference name="permissions" value="none"/>
        <gap:plugin name="org.apache.cordova.device-motion" />
        <gap:plugin name="org.apache.cordova.geolocation" />
        <gap:plugin name="org.apache.cordova.device-orientation" />
		<gap:plugin name="com.keith.cordova.plugin.canvascamera" version="1.0.1" />
    </widget>
